backports.entry-points-selectable==1.1.0
certifi==2021.5.30
chardet==3.0.4
charset-normalizer==2.0.4
distlib==0.3.2
filelock==3.0.12
idna==2.10
numpy==1.21.1
Panda3D==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.8
Pillow==8.3.1
platformdirs==2.2.0
pyperclip==1.8.2
requests==2.26.0
screeninfo==0.7
six==1.16.0
urllib3==1.25.11
ursina==4.0.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
